![DSL_logo](https://github.com/BrockDSL/Intro_to_Python_Workshop/blob/master/dsl_logo.png?raw=1) 
 

![PythonPsycology](http://www.pygaze.org/wp-content/uploads/2016/10/Dalmaijer_2016_PEP-1024x356.jpg) 

#Data Science

In [ ]:
%%html 
<iframe src="https://www.youtube.com//embed/AYp6qf7kOFc" width="400" height="300"></iframe>

The `str` library is so important that it is included all the time Python runs.

Q1 Fill in the corresponding code from the video

In [ ]:
all_caps = ""

# add .lower() to the following line so that the variable represented by all_caps prints in all lowercase
print()
# add .title() to the following line to capitalize the first letter of each word, and the rest lowercase
print()
# add .capitalize() to the following line to capitalize only the first letter of the sentence, and the rest lowercase
print()

Video for Q1

In [ ]:
%%html 
<iframe src="https://www.youtube.com//embed/NL1NYNdPBbw" width="400" height="300"></iframe>

# EXERCISE: Analyzing scores from a Big 5 Personality Dataset

We'll be focusing on data analysis for the rest of this workshop so let's import some libraries: [pandas](https://pandas.pydata.org/) and [numpy](https://pythonistaplanet.com/numpy/)

We will be analyzing a dataset composed of about 315 scores of the Big 5 Personality test.

You could use Excel to do some of this analysis true, but if you have a large dataset, using Excel is going to be difficult to work with.

In [ ]:
%%html 
<iframe src="https://www.youtube.com//embed/qKwH-eCrNYY" width="400" height="300"></iframe>

![excel preview](https://raw.githubusercontent.com/BrockDSL/BrockPsych_Python_Collaboration_2021/master/psycscreenshot.PNG) 


There are 315 rows of big 5 personality score data - this is just a sample view

The personality dataset has 8 columns 

-Gender	
-Age	
-Openness	
-Neuroticism	
-Conscientiousness	
-Agreeableness	
-Extraversion	
-Personality

The rows represent different people who took the big 5 test

The personality column is the one we are interested in, and we want to analyze the data to see how the other columns (I.e. personality traits) are affecting the overall personality.

In [ ]:
%%html 
<iframe src="https://www.youtube.com//embed/XM0DvtfEYwA" width="400" height="300"></iframe>

##Loading the required Python Libraries

Q2 Type in the corresponding code from the video

In [ ]:
#Load the statistics library


#Load the math library


#Load the Library Pandas, that works with data


#Load the Library Numpy, that works with numerical calculations


#These two libraries are often used together!

###Uploading the csv file from your computer

Q3 Type in the corresponding code from the video

In [ ]:



#pandas is already loaded, so you can skip importing it

###Printing the first 10 rows of data to the screen

Q4 Type in the corresponding code from the video

In [ ]:
#List the column names so we can use them as variables

##The describe function

Q5 Type in the corresponding code from the video

Video for the next section

In [ ]:
%%html 
<iframe src="https://www.youtube.com//embed/2J7B7LnS5XQ" width="400" height="300"></iframe>

## Grouping and  Counting

- We also need to gather the entries we need by grouping them together with the `.groupby()` function. We can chain these things together to ask very specific questions of the data.
- We pass what column we'd like to group the data by
- We add `.count()` if we are just interested int the counts and not the dataframe

Q6 Type in the corresponding code from the video

Example 2: How many people are female in this dataset?

Q7 Type in the corresponding code from the video

Example 3: How many different ages are in the dataset?

Q8 Type in the corresponding code from the video

## Grouping and applying functions

- If we want to do some math on the data we need to cluster it together a bit. We use `.groupby()` and then apply our mathematical functions to the result
- Here we'll use the following 3 functions:
 - `mean()` finds the arithmetic mean of the data
 - `max()` finds the largest occurence of data in that column
 - `min()` finds the smallest occurennce of data in that column

What is the average extroversion score of people with a personality label of 'extroverted'?

 Q9 Type in the corresponding code from the video

What is the average Age of people of each Neuroticism score?

Q10 Type in the corresponding code from the video

Video for next section

In [ ]:
%%html 
<iframe src="https://www.youtube.com//embed/XDYm910Es4Y" width="400" height="300"></iframe>

# Sorting & Multi line commands

- We can apply sorting to our dataframe actions by using the funciton `.sort_values()` 

- We need to give what column we'd like to sort it with `by =` 

- We also need to tell it to display it in an increase way `ascending = False`

What Agreeableness score has the most people assigned to it? Here we do it in two steps

Q11 Type in the corresponding code from th video

We could also do it in one step: 

Q12 Type in the corresponding code from the video

Video for next section

In [ ]:
%%html 
<iframe src="https://www.youtube.com//embed/OqBfsd6xTRs" width="400" height="300"></iframe>

## Unique entries & values counts 

- Here we use `.unique()` to only give the first instances of the item. Results are returned as a list, which is useful for us later 

- This is useful for seeing how many values are in a categorical column 

Q13 Type in the corresponding code from the video

What are unique values for the Age field? 

Q14 type in the corresponding code from the video

- To get total number of unique values and frequency in the data we use `value_counts()' 

Q15 Type in the corresponding code from the video

Video for next section

In [10]:
%%html 
<iframe src="https://www.youtube.com//embed/fM2IH1gJ-eM" width="400" height="300"></iframe>

## Selecting subsets of data 

- To make life easier we can create dataframes that just have the values we are interested in 

- This is a bit more complicated but follows this type of pattern: 

``` 

dataframe[dataframe[search criteria]] 

``` 

- We are basically creating a subset of the dataframe by matching all entries that match `search criteria` 

- That search criteria can be anything that is a conditional 

- Doing this gives you a new dataframe 

Q16 Type in the corresponding code from the video

EG. A new dataframe of people with an Extroversion score over 6

Q17 Type in the corresponding code from the video

EG. If we want the count of participants with an extraversion score greater than 6, we apply the .count() function to what we selected 

Q18 type in the corresponding code from the video

This can be done in 1 line as well 

Q19 Type in the corresponding code from the video

Can you 'describe' the newly created dataframe, to get some basic information on the columns in the dataframe?

Q20 Type in the corresponding code from the video

How can we sort our new datafeame?

Q21 Type in the corresponding code from the video

Video for next section

In [ ]:
%%html 
<iframe src="https://www.youtube.com//embed/-m5C4ymSGQs" width="400" height="300"></iframe>

# Another Library, MatplotLib

Let's take a look at graphing our results. We can use the `matplotlib` library to generate some graphs of our results. We always gives lists as parameters for the graphs

Q22 Type in the corresponding code from th video

In [ ]:
#This line is for Jupyter's benefit

#Import MayPlotLib to graph some results

## Donut Charts
Let's draw a donut chart of the number of people of each personality label.

Q23 Type in the corresponding code from the video

In [ ]:
#All of the dependable people



#All of the serious people



#All of the extraverted people



#All of the lively people



#All of the responsible people



# Matplot lib always wants data in a list, so we'll make one




# Add a circle to create a hole in the pie chart




plt.show()

###Histograms

Say we wanted to plot the personality distribution of our data

Q24 Type in the corresponding code from the video

In [ ]:
# bins is the number of containers we'll split our x-axis values into
bins = 

plt.hist(df["Personality"],bins, color=('hotpink'), alpha=(0.9), hatch="//", edgecolor='white')

plt.title("Personality Distribution", color=(0.2,0.6,0.4,0.6), size=30)



#Set Background colour



#Change the color of the x and y values

##Another Library: Seaborn
Seaborn can do the same charts as Matplotlib, along with correlational charts that visualize correlations between variables.

Install Seaborn

Q25 Type in the corresponding code from the video

Import Seaborn library, and ensure that numpy, matplotlib, and pandas are also imported

Q26 Type in the corresponding code from the video

In [ ]:
#we already imported numpy, so we can skip importing it again
#we already have imported matplotlib, so we can skip importing it again
#we already have pandas imported, so we can skip that step as well!
#Now all is left to import is Seaborn

###Create a violin plot to compare distribution between two variables

Q27 Type in the corresponding code from the video

In [ ]:
#Create a violin chart

               

#Create a title